.navComponent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1560px;
  margin-left: 2rem;
  margin-right: 2rem;
  color: white;
  height: 50px;
}

.navOptions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 23px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
